div{
    margin-left: 10%;
    margin-top: 10%;
}

h1{
    font-family: 'Lexend Deca', sans-serif, bold;
    font-size: 150%;
    color: #B05500;
}



p{
    font-size: 12px;
    margin-right: 20%;
    margin-bottom: 10%;
}