.myMargin{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 100px;
}

h1.myMargin{
  margin-top: 17%;
}
h1{
    color: #B05500; 
}

img {
  
  max-width: 90%;
  max-height: 90%;
  
  width: 295px;
  height: 215px;
  display: block;
  margin: 0 auto;
}

body{
  height:0px;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-top: 10%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #2B2E4A;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 1px solid whitesmoke;
}


.active, .dot:hover {
  background-color: #FC8C23;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}





