/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Lexend Deca', sans-serif;
}

h2{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

p{
    font-size: 12px;
}

