img{
    width: 266px;
    height: 180px;
    margin-top: 6%;
    
}

.centrar{
    text-align: center;    
}

p{
    margin-top: 6%;
    margin-right: 20%;
    margin-left: 10%;
    font-family: 'Lexend Deca', sans-serif;
}

h1{
    margin-left: 10%;
    color: #B05500;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
}


/* Small Button/false */
.small-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 115px;
    height: 36px;
    left: 133px;
    top: 690px;
    margin-top: -6%;
  }
  /* Button */
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 18px;
    gap: 8px;
    width: 115px;
    height: 20px;
    margin-top: 0%;
    background-color: #2B2E4A;
    border-radius: 999px;
  }
  
  /* Get it */
.get-it {
    width: 79px;
    height: 14px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
  }
