<app-header></app-header>

<body>
    <br><br><br>
    <div id="contenedor">
        <h1>Sobre Nosotros:</h1>
        <p>Somos una pequeña empresa familiar, fundada por nuestro cocinero antonio:</p>
        <div class="centrar"><img src="../../../assets/img/auS.PNG"/></div>
        <p>
            Y sus vecinos del pueblo de Artenara 
            trabajan cuidando la materia prima que 
            va después a su mesa, de kilómetro cero
        </p>
      
        <div class="centrar"><img src="../../../assets/img/tejeda.PNG"/></div>
            <button class="small-button button"><!--button quizas no va aqui    -->
                <div class="button">
                    <a routerLink="/contactanos"> 
                        <span class="get-it">Contáctanos</span>
                    </a>
                </div>
            </button>
    </div>
</body>